<configuration>
  <system.webServer>
    <handlers>
      <add name="FlaskHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\mmateusz\AppData\Local\Programs\Python\Python312\python.exe|C:\Users\mmateusz\Desktop\praca\srodowisko\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
        <defaultDocument>
            <files>
                <add value="base.html" />
            </files>
        </defaultDocument>
  </system.webServer>

  <appSettings>
    <!-- Ustaw ścieżkę do aplikacji Flask -->
    <add key="WSGI_HANDLER" value="app.app" />
    <!-- Ustaw ścieżkę do folderu aplikacji -->
    <add key="PYTHONPATH" value="C:\Users\mmateusz\Desktop\praca\srodowisko" />
    <!-- Ustaw interpreter Pythona -->
    <add key="PYTHONHOME" value="C:\Users\mmateusz\AppData\Local\Programs\Python\Python312" />
  </appSettings>
</configuration>
